// colors
$primary_light: #FFFFFF;
$secondary_light: #EFEFEF;
$primary: #FC4C4C;
$secondary: #231E36;
$additional: #625F6F;

// font-size
$heading: 28px;
$title: 18px;
$body: 14px;

// styling
$border_radius: 14px;
$transition: 0.3s ease-in;
$amount_xs: 5;
$amount_xl: 20;
$box_shadow: 0px 1px 24px rgba(153, 152, 152, 0.25);