@import "src/assets/style/style.scss";

.button {
  padding: 10px 15px;
  color: $primary_light;
  font-size: $body;
  font-weight: 400;
  background: $primary;
  border-radius: $border_radius;
  border: none;
  outline: none;
  transition: $transition;
  &:hover {
    cursor: pointer;
    background: lighten($primary, $amount_xs);
  }
}

.disabled {
  background: $secondary_light;
  color: lighten($additional, $amount_xl);
  &:hover {
    cursor: not-allowed;
    background: $secondary_light;
  }
}

.text {
  background: $primary_light;
  color: $additional;
  font-weight: 600;
  &:hover {
    background: $primary_light;
    color: $secondary;
  }
}