@import 'src/assets/style/style.scss';

.textarea {
  padding: 6px 3px;
  border: 1px solid $secondary_light;
  box-sizing: border-box;
  border-radius: $border_radius;
  outline: none;
  width: 100%;
  display: block;
  transition: $transition;
  &:hover {
    border: 1px solid $additional;
  }
  &:focus {
    border: 1px solid $secondary;
  }
}