@import 'src/assets/style/style.scss';

.textarea {
  display: block;
  width: 100%;
  padding: 8px 6px;
  font-size: 12px;
  letter-spacing: 0.25px;
  border: 1px solid $secondary_light;
  box-sizing: border-box;
  border-radius: $border_radius;
  outline: none;
  transition: $transition;
  &:hover {
    border: 1px solid $additional;
  }
  &:focus {
    border: 1px solid $secondary;
  }
}