@import "src/assets/style/style.scss";

.footer {
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.row {
  position: relative;
  flex: 1;
  margin: 0 0 25px 0;
}

.err {
  position: absolute;
  top: 35px;
  font-size: 12px;
  color: $primary;
}

.formErr {
  margin: 15px 0 0 0;
  font-size: 12px;
  color: $primary;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 150px auto 0 auto;
}