@import "src/assets/style/style.scss";

.basket {
  display: flex;
  align-items: center;
}

.text {
  letter-spacing: 0.5px;
  font-weight: 600;
}

.total {
  font-size: 12px;
  font-weight: 600;
}

.line {
  display: inline-block;
  height: 20px;
  width: 1px;
  opacity: 0.4;
  margin: 0 12px;
  background: rgb(255, 255, 255);
}

.icon {
  i {
    color: $primary_light;
    :hover {
      cursor: auto;
      background: none;
    }
  }
}