@import "src/assets/style/style.scss";

.header {
  position: fixed;
  width: 100%;
  background: $primary_light;
  border-bottom: 2px solid $secondary_light;
}

.innerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
}